@use '../abstract/' as *;

.card-footer {
	width: 100%;
	height: 64px;
	background-color: #161619;
  @include flex(row, center, center);
  gap:20px;

  .icon{
    width: 25px;
    height: 25px;
    color: #918E9B;
  }
}
