$maxWidth: 550px;
$fixedWidth: 317px;

$shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
$shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);

$borderRadius: 10px;

$transition-1: all 0.3s ease-in-out;
$transition-2: all 0.6s ease-in-out;
$transition-3: all 0.8s ease-in-out;
